.incident-form {
  display: flex;
  align-items: center;
}

.incident-form__buttonsend {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.incident-form__template {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 686px;
  line-height: 27px;
  background: #fff0f0;
  border: 1px dotted rgb(245 151 148);
}

.incident-form__truble-check {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 25px;
  gap: 10px;
}

.incident-form__input {
  margin: 0 5px;
  height: 22px;
}

.incident-form__truble-drop {
  appearance: auto;
}