<div *ngIf="currentWord; else other_content">
  <p>Translate the word: {{ currentWord }}</p>
  <form (ngSubmit)="checkTranslation()">
    <input
      type="text"
      [(ngModel)]="userTranslation"
      name="translation"
      required
      autofocus
    />
    <button type="submit">Проверить</button>
  </form>
  <div *ngIf="correctTranslation === false">
    <p style="color: red">Непраильно! Попробуй еще</p>
  </div>
  <div *ngIf="correctTranslation === true">
    <p style="color: green">Правильно! Следующее слово</p>
  </div>
</div>

<ng-template #other_content>
  <h3 style="color: red">Для выбранных языков нет слов</h3>
  <h6 style="color: red">Добавьте слово или смените языки в настройках</h6>
</ng-template>
